<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SIM</display-name>
  <servlet>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.app.controller.LoginController</servlet-class>
    </servlet>
      <servlet>
        <display-name>RegisterController</display-name>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>org.app.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <display-name>SearchController</display-name>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>org.app.controller.SearchController</servlet-class>
    </servlet>
        <servlet>
        <display-name>AdvancedSearchController</display-name>
        <servlet-name>AdvancedSearchController</servlet-name>
        <servlet-class>org.app.controller.AdvancedSearchController</servlet-class>
    </servlet>
    <servlet>
        <display-name>MeslivresController</display-name>
        <servlet-name>MeslivresController</servlet-name>
        <servlet-class>org.app.controller.MeslivresController</servlet-class>
    </servlet>
    <servlet>
        <display-name>MeslivresProfController</display-name>
        <servlet-name>MeslivresProfController</servlet-name>
        <servlet-class>org.app.controller.MeslivresProfController</servlet-class>
    </servlet>
    <servlet>
        <display-name>UploadController</display-name>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>org.app.controller.UploadController</servlet-class>
    </servlet>
    <servlet>
        <display-name>MeslivresAdminController</display-name>
        <servlet-name>MeslivresAdminController</servlet-name>
        <servlet-class>org.app.controller.MeslivresAdminController</servlet-class>
    </servlet>
    <servlet>
        <display-name>AjouterlivresController</display-name>
        <servlet-name>AjouterlivresController</servlet-name>
        <servlet-class>org.app.controller.AjouterlivresController</servlet-class>
    </servlet>
    <servlet>
        <display-name>SupprimerlivresController</display-name>
        <servlet-name>SupprimerlivresController</servlet-name>
        <servlet-class>org.app.controller.SupprimerlivresController</servlet-class>
    </servlet>   
    <servlet>
        <display-name>ModifierlivresController</display-name>
        <servlet-name>ModifierlivresController</servlet-name>
        <servlet-class>org.app.controller.ModifierlivresController</servlet-class>
    </servlet>       
    <servlet>
        <display-name>ModifierlivresController2</display-name>
        <servlet-name>ModifierlivresController2</servlet-name>
        <servlet-class>org.app.controller.ModifierlivresController2</servlet-class>
    </servlet>  
    <servlet>
        <display-name>ModifierprofilController</display-name>
        <servlet-name>ModifierprofilController</servlet-name>
        <servlet-class>org.app.controller.ModifierprofilController</servlet-class>
    </servlet>     
    <servlet>
        <display-name>AjouterlivresetudiantController</display-name>
        <servlet-name>AjouterlivresetudiantController</servlet-name>
        <servlet-class>org.app.controller.AjouterlivresetudiantController</servlet-class>
    </servlet>         
    <servlet>
        <display-name>AjouterlivresprofController</display-name>
        <servlet-name>AjouterlivresprofController</servlet-name>
        <servlet-class>org.app.controller.AjouterlivresprofController</servlet-class>
    </servlet>      
    <servlet>
        <display-name>ModifierprofilprofController</display-name>
        <servlet-name>ModifierprofilprofController</servlet-name>
        <servlet-class>org.app.controller.ModifierprofilprofController</servlet-class>
    </servlet>  
    <servlet>
        <display-name>ModifierprofiletudiantController</display-name>
        <servlet-name>ModifierprofiletudiantController</servlet-name>
        <servlet-class>org.app.controller.ModifierprofiletudiantController</servlet-class>
    </servlet>          
    <servlet>
        <display-name>UploadRedirectController</display-name>
        <servlet-name>UploadRedirectController</servlet-name>
        <servlet-class>org.app.controller.UploadRedirectController</servlet-class>
    </servlet>          
    <servlet>
        <display-name>DownloadController</display-name>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>org.app.controller.DownloadController</servlet-class>
    </servlet>       
    <servlet>
        <display-name>Download2Controller</display-name>
        <servlet-name>Download2Controller</servlet-name>
        <servlet-class>org.app.controller.Download2Controller</servlet-class>
    </servlet>       
    <servlet>
        <display-name>UploadRedirectProfController</display-name>
        <servlet-name>UploadRedirectProfController</servlet-name>
        <servlet-class>org.app.controller.UploadRedirectProfController</servlet-class>
    </servlet>        
    <servlet>
        <display-name>UploadProfController</display-name>
        <servlet-name>UploadProfController</servlet-name>
        <servlet-class>org.app.controller.UploadProfController</servlet-class>
    </servlet>        
     <servlet>
        <display-name>Download2ProfController</display-name>
        <servlet-name>Download2ProfController</servlet-name>
        <servlet-class>org.app.controller.Download2ProfController</servlet-class>
    </servlet>     
     <servlet>
        <display-name>DownloadProfController</display-name>
        <servlet-name>DownloadProfController</servlet-name>
        <servlet-class>org.app.controller.DownloadProfController</servlet-class>
    </servlet>     
    <servlet>
        <display-name>UploadRedirectAdminController</display-name>
        <servlet-name>UploadRedirectAdminController</servlet-name>
        <servlet-class>org.app.controller.UploadRedirectAdminController</servlet-class>
    </servlet>     
    <servlet>
        <display-name>UploadAdminController</display-name>
        <servlet-name>UploadAdminController</servlet-name>
        <servlet-class>org.app.controller.UploadAdminController</servlet-class>
    </servlet>         
    <servlet>
        <display-name>Download2AdminController</display-name>
        <servlet-name>Download2AdminController</servlet-name>
        <servlet-class>org.app.controller.Download2AdminController</servlet-class>
    </servlet>   
    <servlet>
        <display-name>DownloadAdminController</display-name>
        <servlet-name>DownloadAdminController</servlet-name>
        <servlet-class>org.app.controller.DownloadAdminController</servlet-class>
    </servlet>      
    <servlet>
        <display-name>AjouterProfesseurController</display-name>
        <servlet-name>AjouterProfesseurController</servlet-name>
        <servlet-class>org.app.controller.AjouterProfesseurController</servlet-class>
    </servlet>          
    
    


    
    
    
    
    
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvancedSearchController</servlet-name>
        <url-pattern>/AdvancedSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>MeslivresAdminController</servlet-name>
        <url-pattern>/MeslivresAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeslivresController</servlet-name>
        <url-pattern>/espace_etudiant/MeslivresController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeslivresProfController</servlet-name>
        <url-pattern>/espace_professeur/MeslivresProfController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/espace_etudiant/UploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeslivresAdminController</servlet-name>
        <url-pattern>/espace_admin/MeslivresAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterlivresController</servlet-name>
        <url-pattern>/espace_admin/AjouterlivresController</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>SupprimerlivresController</servlet-name>
        <url-pattern>/espace_admin/SupprimerlivresController</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>ModifierlivresController</servlet-name>
        <url-pattern>/espace_admin/ModifierlivresController</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ModifierlivresController2</servlet-name>
        <url-pattern>/espace_admin/ModifierlivresController2</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ModifierprofilController</servlet-name>
        <url-pattern>/espace_admin/ModifierprofilController</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>AjouterlivresetudiantController</servlet-name>
        <url-pattern>/espace_etudiant/AjouterlivresetudiantController</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>AjouterlivresprofController</servlet-name>
        <url-pattern>/espace_professeur/AjouterlivresprofController</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>ModifierprofilprofController</servlet-name>
        <url-pattern>/espace_professeur/ModifierprofilprofController</url-pattern>
    </servlet-mapping>  
     <servlet-mapping>
        <servlet-name>ModifierprofiletudiantController</servlet-name>
        <url-pattern>/espace_etudiant/ModifierprofiletudiantController</url-pattern>
    </servlet-mapping>  
     <servlet-mapping>
        <servlet-name>UploadRedirectController</servlet-name>
        <url-pattern>/espace_etudiant/UploadRedirectController</url-pattern>
    </servlet-mapping>         
    <servlet-mapping>
        <servlet-name>DownloadController</servlet-name>
        <url-pattern>/espace_etudiant/DownloadController</url-pattern>
    </servlet-mapping>  
     <servlet-mapping>
        <servlet-name>Download2Controller</servlet-name>
        <url-pattern>/espace_etudiant/Download2Controller</url-pattern>
    </servlet-mapping>     
     <servlet-mapping>
        <servlet-name>UploadRedirectProfController</servlet-name>
        <url-pattern>/espace_professeur/UploadRedirectProfController</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
    <servlet-name>UploadProfController</servlet-name>
        <url-pattern>/espace_professeur/UploadProfController</url-pattern>
    </servlet-mapping>      
    <servlet-mapping>
    <servlet-name>Download2ProfController</servlet-name>
        <url-pattern>/espace_professeur/Download2ProfController</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
    <servlet-name>DownloadProfController</servlet-name>
        <url-pattern>/espace_professeur/DownloadProfController</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
    <servlet-name>UploadRedirectAdminController</servlet-name>
        <url-pattern>/espace_admin/UploadRedirectAdminController</url-pattern>
    </servlet-mapping>       
    <servlet-mapping>
    <servlet-name>UploadAdminController</servlet-name>
        <url-pattern>/espace_admin/UploadAdminController</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
    <servlet-name>Download2AdminController</servlet-name>
        <url-pattern>/espace_admin/Download2AdminController</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
    <servlet-name>DownloadAdminController</servlet-name>
        <url-pattern>/espace_admin/DownloadAdminController</url-pattern>
    </servlet-mapping>      
    <servlet-mapping>
    <servlet-name>AjouterProfesseurController</servlet-name>
        <url-pattern>/espace_admin/AjouterProfesseurController</url-pattern>
    </servlet-mapping>     
    
    

    
    
    
    
    
   
    
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>